<a href="https://colab.research.google.com/github/vinhbui123/machine_learning/blob/main/Task2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np

# Function to check if a number is prime
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(np.sqrt(n)) + 1):
        if n % i == 0:
            return False
    return True

# Generate a sequence of numbers from 0 to 100
numbers = np.arange(0, 101)

# Filter out prime numbers
non_primes = numbers[~np.vectorize(is_prime)(numbers)]

print("Non-prime numbers:", non_primes)

Non-prime numbers: [  0   1   4   6   8   9  10  12  14  15  16  18  20  21  22  24  25  26
  27  28  30  32  33  34  35  36  38  39  40  42  44  45  46  48  49  50
  51  52  54  55  56  57  58  60  62  63  64  65  66  68  69  70  72  74
  75  76  77  78  80  81  82  84  85  86  87  88  90  91  92  93  94  95
  96  98  99 100]